<?xml version='1.0'?>

<robot name="diff_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="cam" params="mass size x:=0 y:=0 z:=0">

    <link name="camera">

        <visual name="">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${size} ${size} ${size}"/>
            </geometry>
            <!-- Color For Rviz-->
            <material name="black"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${size} ${size} ${size}"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${mass}"/>
            <xacro:box_inertia m="${mass}" x="${size}" y="${size}" z="${size}"/>
        </inertial>

    </link>

    <joint name="camera_joint" type="fixed">
        <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        <parent link="chassis"/>
        <child link="camera"/>
        <axis xyz="0 1 0"/>
    </joint>

</xacro:macro>

</robot>