<?xml version='1.0'?>

<robot name="diff_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="hokuyo" params="x:=0 y:=0 z:=0">

    <link name="hokuyo">

        <visual name="">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://diff_robot_description/meshes/hokuyo.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://diff_robot_description/meshes/hokuyo.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <xacro:box_inertia m="0.1" x="0.05" y="0.05" z="0.05"/>
        </inertial>

    </link>

    <joint name="hokuyo_joint" type="fixed">
        <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        <parent link="chassis"/>
        <child link="hokuyo"/>
        <axis xyz="0 1 0"/>
    </joint>

</xacro:macro>

</robot>