<launch>
  <!-- World File -->
  <arg name="world_file" default="$(find my_robot_gazebo)/worlds/office.world"/>
  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot_description)/urdf/my_robot.xacro'" />

  <!-- Spawn a robot into Gazebo -->
  <node name="my_robot_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"	args="-param robot_description -urdf -model my_robot" />

</launch>